h1 {
  color: red;
  text-align: center;
  background-color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  b {
    color: black;
    font-size: 20px;
    font-family: italic;
    text-align: center;

    span {
      font-size: 40px;
    }
  }
}
.indent {
  text-indent: 40px;
}
.home {
  text-align: right;
  display: block;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  display: block;
  margin: auto;
  border-radius: 12px;
  border: 2px solid black;
  width: 80%;
  max-width: 640px;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  a {
    font-weight: 700;
  }
}
