.intro {
  color: rgb(22, 219, 22);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
}

.main {
  img {
    padding: 50px;
    border: 5px solid;
    border-radius: 30px;
    margin: 50px auto;
    display: block;
    width: 50%;
  }
}

.mass {
  margin: 40px;
  color: saddlebrown;
  background-color: rgb(255, 0, 191);
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
  box-shadow: 5px 5px 17px 5px rgb(0, 174, 255);
  /* opacity: 1; */
  outline: 5px solid black;
  /* transform: rotate(0deg); */
  transition: all 1s ease-in-out;
  opacity: 0;
  &:hover {
    opacity: 1;
    /* transform: rotate(60deg); */
  }
}
.text {
  font-size: 40px;
  font-weight: bold;
  color: rgb(17, 0, 255);
  text-shadow: 5px 5px 17px rgb(15, 124, 101);
}
